@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    width: 50%;
}

span {
    color: crimson;
    font-weight: 400;
    text-transform: capitalize;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 30px;
}

.top {
    margin-top: 80px;
}

/* Left Content */

.home {
    display: flex;
}

.left-content,
.right-content {
    width: 50%;
}

.content {
    padding: 30px;
}

.left-content {
    height: 100vh;
    position: fixed;
    top: 0;
    color: white;
    overflow: hidden;
}

.home-img img {
    position: absolute;
    left: -40%;
    top: -10%;
    height: 110vh !important;
    z-index: -1;
    filter: brightness(25%);
}

.logo {
    width: 100px;
    height: 70px;
    line-height: 70px;
    color: black;
    background-color: white;
}

.logo h1 {
    font-size: 40px;
    text-align: center;
}

.qrcode img {
    height: 100px;
    width: 100px;
}

.left-content .text {
    width: 75%;
    margin-top: 15%;
}

.left-content .text h1 {
    font-size: 48px;
}

.left-content .text p {
    margin: 40px 0 5px 0;
}

.left-content .text2 {
    width: 75%;
    margin-top: 15%;
    margin: 40px 5px 0 0;
    float: right;
    text-align: right;
}

.left-content .qrcode img {
    margin-top: 20%;
}

/* Right Content */

.right-content {
    padding: 40px;
    color: black;
    position: absolute;
    right: 0;
    background-color: lightyellow;
}

.img {
    overflow: hidden;
    transition: 0.5s;
}

.img img {
    transition: 0.5s;
}

.img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 1650px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    .left-content,
    .right-content {
        width: 100%;
        height: fit-content;
    }
    .left-content {
        position: relative;
    }

    .left-content .home-img img {
        min-height: 100%;
        left: 0;
        top: 0;
    }

    .home-img img {
        position: absolute;
        z-index: -1;
        filter: brightness(25%);
    }
    .right-content {
        position: relative;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (max-width: 786px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    .left-content,
    .right-content {
        width: 100%;
    }
    .left-content {
        position: relative;
    }

    .left-content .home-img img {
        min-height: 100%;
        left: 0;
        top: 0;
    }
    .right-content {
        position: relative;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .right-content .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-content .home-img img {
        min-height: 100%;
        left: 0;
        top: 0;
    }
}
